.Nav{
    border: 1px solid rgb(237, 221, 221);
    height: 50px;
    font-size: 20px;
    margin-right: 1px;
    padding-top: 25px;
    padding-bottom: 12px;
    background-color: beige;
    line-height: 20px;
    /*background-image: url('./icon-services-fcs.png');
    background-repeat: no-repeat;
    background-size: 70px 70px;*/
    background-image: url('./Photos/Back_last.jpg');
}

.Nav a{
    padding-left: 40px;
    color: rgb(216, 226, 139);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Float-right{
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}
.Float-right a{
    padding-left: 10px;
}
.but-3 img{
    width: 35px;
    height: 35px;
    vertical-align: middle; /* Most important tag to fit in same line*/
}
.but-3{
    margin-left: 10px;
}
.but-1{
    display: inline-flex;
    /*margin-left: 50%;
    margin-right: 2%;*/
    background-color: rgb(8, 8, 136);
    color: aliceblue;
    padding: 10px 15px 8px 15px;
    cursor: pointer;
}
.but-2 {
    background-color: rgb(8, 8, 136);
    color: aliceblue;
    padding: 10px 15px 8px 15px;
    cursor: pointer;
}
.page{
    margin: 1px;
}
.page img{
    height: 500px;
}
.topic{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.topic a{
    color: burlywood;
    font-size: 20px;
    text-decoration: none;
}
.text_color{
    color:rgb(255, 255, 255);
}
h4{
    font-size: 25px;
}
.HTML{
    border: 1px solid gray;
    padding: 35px;
    width: 24%;
    margin: 2px;
    text-align: center;
    justify-content: center;
}
.text_co{
    color: rgb(45, 40, 190);
}
.HTML img{
    width: 50%;
}
.php img{
    width: 80%;
}